<template>
  <div>
    <div class="bg-purple-900">
      <div class="container mx-auto py-10 px-5">
        <nav class="flex items-center justify-between flex-wrap">
          <div class="logo w-1/2 md:w-1/4 lg:w-1/5">
            <a href="/"
              ><img src="/artful-logo-horiz.svg" alt="" width="700" height="210"
            /></a>
          </div>

          <label
            for="menu-toggle"
            class="lg:hidden flex items-center px-3 py-2 border rounded text-white border-white"
          >
            <svg
              class="fill-current h-3 w-3"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </label>
          <input type="checkbox" class="hidden" id="menu-toggle" />

          <div
            class="hidden p-5 mt-5 w-full lg:w-auto lg:flex lg:items-center bg-purple-800 lg:bg-transparent"
            id="menu"
          >
            <div class="lg:flex-grow md:mr-10">
              <a
                href="#responsive-header"
                class="block px-3 py-1 rounded-sm text-center lg:inline-block lg:mt-0 lg:mr-10 text-white hover:text-white hover:bg-purple-800 transition-colors duration-200"
              >
                Artwork
              </a>
              <a
                href="#responsive-header"
                class="block px-3 py-1 rounded-sm text-center lg:inline-block lg:mt-0 lg:mr-10 text-white hover:text-white hover:bg-purple-800 transition-colors duration-200"
              >
                About
              </a>
              <a
                href="#responsive-header"
                class="block px-3 py-1 rounded-sm text-center lg:inline-block lg:mt-0 lg:mr-10 text-white hover:text-white hover:bg-purple-800 transition-colors duration-200"
              >
                Contact
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="css" scoped>
#menu-toggle:checked + #menu {
  display: flex;
}
</style>
