@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 500;
  src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
}

body {
  background: #f1f1f1;
}
.logo {
  height: auto;
}

.banner {
  background-image: url("/banner-bg.svg");
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner img {
  margin: 3rem;
  display: inline-block;
}

.banner-text {
  position: relative;
  bottom: 3rem;
}

.product-frame {
  background-image: url("/frame.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 6px solid #f0f0f0;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
}

/* purgecss ignore */
.product-image svg path {
  transition: all 0.5s linear;
}
.annequin .fill-0 {
  fill: #340074;
}

.annequin .fill-1 {
  fill: #ffacfc;
}

.annequin .fill-2 {
  fill: #60e8ff;
}

.annequin .fill-3 {
  fill: #0000ec;
}

.annequin .fill-4 {
  fill: #00d8dd;
}

.annequin .fill-5 {
  fill: #00f2fe;
}

.annequin .fill-6 {
  fill: #00b0fc;
}

.parlez .fill-0 {
  fill: #222222;
}
.parlez .fill-1 {
  fill: #5456c0;
}
.parlez .fill-2 {
  fill: #fff000;
}
.parlez .fill-3 {
  fill: #243463;
}
.parlez .fill-4 {
  fill: #736495;
}
.parlez .fill-5 {
  fill: #393159;
}
.parlez .fill-6 {
  fill: #000000;
}

.dorian .fill-0 {
  fill: #000000;
}
.dorian .fill-1 {
  fill: #cccccc;
}
.dorian .fill-2 {
  fill: #555555;
}
.dorian .fill-3 {
  fill: #999999;
}
.dorian .fill-4 {
  fill: #eeeeee;
}
.dorian .fill-5 {
  fill: #222222;
}
.dorian .fill-6 {
  fill: #666666;
}

.appelby .fill-0 {
  fill: #000000;
}
.appelby .fill-1 {
  fill: #535353;
}
.appelby .fill-2 {
  fill: #ec3c00;
}
.appelby .fill-3 {
  fill: #ff6935;
}
.appelby .fill-4 {
  fill: #ffc5be;
}
.appelby .fill-5 {
  fill: #fff3ee;
}
.appelby .fill-6 {
  fill: #ffd61a;
}
.appelby .fill-7 {
  fill: #ffe452;
}
.appelby .fill-8 {
  fill: #00b0fc;
}

.jordan .fill-0 {
  fill: #d4c33a;
}
.jordan .fill-1 {
  fill: #fff66f;
}
.jordan .fill-2 {
  fill: #a200ec;
}
.jordan .fill-3 {
  fill: #ad7ce8;
}
.jordan .fill-4 {
  fill: #ffc5be;
}
.jordan .fill-5 {
  fill: #fff3ee;
}
.jordan .fill-6 {
  fill: #2edea4;
}
.jordan .fill-7 {
  fill: #52ffa6;
}
.jordan .fill-8 {
  fill: #fc005f;
}

.tank .fill-0 {
  fill: #340074;
}
.tank .fill-1 {
  fill: #ffe200;
}
.tank .fill-2 {
  fill: #00ffc3;
}
.tank .fill-3 {
  fill: #4f00ff;
}

.rippin .fill-0 {
  fill: #d4c33a;
}
.rippin .fill-1 {
  fill: #fff66f;
}
.rippin .fill-2 {
  fill: #a200ec;
}
.rippin .fill-3 {
  fill: #ad7ce8;
}
.loco .fill-0 {
  fill: #ffff6e;
}
.loco .fill-1 {
  fill: #43b3e0;
}
.loco .fill-2 {
  fill: #ff5526;
}
.loco .fill-3 {
  fill: #430098;
}

.josie .fill-0 {
  fill: #e04461;
}
.josie .fill-1 {
  fill: #ff6f13;
}
.josie .fill-2 {
  fill: #26cbff;
}
.josie .fill-3 {
  fill: #98007f;
}

.wish .fill-0 {
  fill: #2252ff;
}
.wish .fill-1 {
  fill: #ff88f9;
}
.wish .fill-2 {
  fill: #ffc9fc;
}

.palentino .fill-0 {
  fill: #b7dce5;
}
.palentino .fill-1 {
  fill: #e23848;
}
.palentino .fill-2 {
  fill: #e9b6b6;
}

.avanti .fill-0 {
  fill: #ff6fa9;
}
.avanti .fill-1 {
  fill: #ec0000;
}
.avanti .fill-2 {
  fill: #155e88;
}
.avanti .fill-3 {
  fill: #26acb0;
}
.avanti .fill-4 {
  fill: #007272;
}
.avanti .fill-5 {
  fill: #008989;
}
.avanti .fill-6 {
  fill: #0a2f30;
}
