<template>
  <!-- prettier-ignore -->
  <div>

    <Menu />

    <main role="main" id="app">
      <div class="container max-w-4xl mx-auto my-10 grid grid-cols-2 gap-10">
        <div class="product">
          <h1 class="text-2xl mb-4 text-center">{{ product.title }}</h1>

          <div v-if="availablePalettes[selectedPalette]" class="product-image" :class="availablePalettes[selectedPalette].name.toLowerCase()" v-html="artwork">
          </div>
        </div>
        <div class="palettes flex items-center flex-col">
          <div class="text-center mb-10 uppercase text-gray-600">
            Available Palettes
          </div>
          <div
            v-for="(palette, index) in availablePalettes"
            class="pallette bg-white p-5 pt-8 mb-8 rounded relative cursor-pointer transition-all duration-200"
            v-on:click="selectedPalette = index"
            v-bind:class="[
              'w-4/6',
              selectedPalette === index ? 'w-full' : 'w-4/6'
            ]"
          >
            <div
              class="text-center text-sm text-gray-700 border bg-white rounded-full py-1 px-3 border-gray-300 absolute -top-1 left-1/2 w-56"
            >
              {{ palette.name }}
            </div>
            <div class="palette-colors grid" :class="'grid-cols-' + products[productId].colourLimit">
              <div
                v-for="color in palette.colors"
                class="color h-8 first:rounded-l last:rounded-r"
                :style="{ backgroundColor: color }"
              ></div>
            </div>
          </div>
          <div
            class="options grid grid-cols-2 mb-8 border py-3 px-5 border-gray-400 w-full rounded"
          >
            <div class="flex items-center">
              <div class="mr-3">Size:</div>

              <div class="relative">
                <select
                  class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-state"
                  v-on:change="setSelectedPrice"
                >
                  <option v-for="item in availability">{{item.size.toUpperCase()}}</option>
                </select>
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-end">
              <div class="price text-2xl text-gray-700">£{{currentPrice}}</div>
            </div>
          </div>
          <div class="purchase text-right">
            <div>
              <button v-bind:data-item-price="currentPrice" data-item-id="starry-night"
                data-item-url="/paintings/starry-night"
                v-bind:data-item-description="product.description"
                data-item-image="/assets/images/starry-night.jpg"
                v-bind:data-item-name="product.title"
                class="snipcart-add-item inline-block px-6 py-3 leading-none rounded text-white bg-teal-500"
                >Purchase</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
<script>
import Menu from "../../components/Menu";
import productData from "~/static/products.json";
import paletteData from "~/static/palettes.json";

export default {
  components: {
    Menu,
  },
  data() {
    return {
      products: productData.products,
      palettes: paletteData.palettes,
      productId: this.$route.params.id,
      selectedPalette: 0,
      availablePalettes: [],
      artwork: "",
      product: productData.products[this.$route.params.id],
      availability: productData.products[this.$route.params.id].availability,
      currentPrice: "25",
    };
  },
  async created() {
    const productId = this.$route.params.id;

    this.availablePalettes = this.palettes.filter(function(palette) {
      return productData.products[productId].palettes.includes(palette.name);
    });

    this.artwork = productData.products[productId].svg;
  },
  methods: {
    setSelectedPrice: function(event) {
      this.currentPrice = this.availability[event.target.selectedIndex].price;
    },
  },
};
</script>
<style></style>
