<template>
  <!-- prettier-ignore -->
  <div>

    <Menu />

    <main role="main">
      <div class="banner border-b border-gray-400 bg-gray-300 bg-no-repeat bg-cover bg-center">
        <div class="banner-text text-white text-5xl font-bold p-5 text-center">
          Art, the way you like it.
        </div>
        <div>
          <a href="#" class="inline-block text-sm px-8 py-4 leading-none rounded-full text-black bg-purple-900 text-xl text-white hover:border-transparent hover:bg-black transition-colors duration-500 mt-4 lg:mt-0">About Artful</a>
        </div>
      </div>
      <div class="container mx-auto my-10 grid sm:grid-cols-2 md:grid-cols-3 gap-16">
        <div class="product" v-for="product in products">
          <div class="product-frame mb-8">
            <div class="product-image">
              <nuxt-link :to="'/products/' + product.id"><img :src="product.image" alt="" /></nuxt-link>
            </div>
          </div>
          <p class="text-center mb-4"><strong>{{product.title}}</strong></p>
          <p class="text-sm text-center mb-5">From £{{product.availability[0].price}}</p>
          <p class="text-center"><nuxt-link :to="'/products/' + product.id" class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0">View</nuxt-link></p>

        </div>
      </div>
    </main>

  </div>
</template>

<script>
import Menu from "../components/Menu";
import productData from "~/static/products.json";
export default {
  components: {
    Menu
  },
  data() {
    return {
      products: productData.products
    };
  }
};
</script>
